<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="INFC20DemoConnectionString"
		providerName="System.Data.SqlClient"
		connectionString="Server=51.12.241.100;Database=PolitikKollen;Connection Timeout=5;Password=Bajsbajs123;User=user1;" />
	</connectionStrings>
</configuration>